interface GigabitEthernet0/1/0
 {%- if mode == 'access'  %}
 switchport access vlan 400
 switchport mode access
 {%- elif mode == 'trunk' %}
 Switchport trunk native vlan 1
 Switchport trunk allowed vlan 1,300,400
 Switchport mode trunk
 {%- endif %}
